./deploy.sh
# Python virtual environment
venv/
.env/

.gradle

# Python cache files
__pycache__/
*.py[cod]

# Logs
*.log
logs/*

# IDE / OS files
.vscode/
.idea/
.DS_Store

# Byte-compiled / temporary files
*.pyc
*.pyo
*.pyd
./gradle/
/.venv/


/CertsAndKeys/PrivateKeys/root.key
