version: "3.9"
services:
  flask-app:
    build: .
    container_name: flask-app
    restart: always

  caddy:
    image: caddy:2
    container_name: caddy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - flask-app
    restart: always

volumes:
  caddy_data:
  caddy_config:

